.login-container {
    background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.center-box {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6rem;
    border-radius: 3.125rem; /* 50px */
    height: auto; /* Adjust height as needed */
    max-height: 80vh; /* Example to limit height */
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  .Login-form {
    display: flex;
    flex-direction: column;
    margin-left: 6.875rem; /* 110px */
  }

  .side-image {
    padding-right: 4rem;
    width:35%; /* Make the image take the full width of the parent */
    object-fit: contain; /* Ensure the image fits within the container without being cropped */
  }
  .Login-form input {
    width: 14.625rem; /* 250px */
    padding: 0.33rem;
    border-radius: 0.5rem;
  }
  .Login-button {
    margin-top: 0.625rem; /* 10px */
    background-color: blue;
    color: white;
    width: 14.725rem; /* 250px */
    padding: 0.56rem;
    border: none;
    border-radius: 1.25rem; /* 20px */
    cursor: pointer;
  }